body {
	background: #E9EBEE;
}

h1 {
    text-align: center;
    margin-top: 15px;
}

h5 {
    text-align: center;
}

.container-border {
	background-color: white;
	border: 7px solid #E9EBEE;
}
.country-flags img {
    height: 60px;
    padding-top: 5px;
    padding-left: 10px;
}

#italy-flag {
    /* account for the 10. ... kinda hacky... */
    padding-left: 0px;
}

#sunburst-viz {
    padding-right: 20px;
}
